<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Register Student Page</title>
</head>
<body>
    <main>
        <!-- from learn platform -->
    <!-- {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="popup">
            {% for message in messages %}
                <p>{{ message }}</p>
                <button onclick ="popup.remove()">Ok</button>
            {% endfor%}
        </div>
    {% endif %}
{% endwith %} -->
    <div class="register_form">
        <h1>Student Registration</h1>
        <form action ="/register" method = "post">
            <!-- make sure names in the inputs match the column names and method names perfectly -->
            <label>
                First Name:
                <input type="text" name="first_name">
            </label>
            <label>
                Last Name:
                <input type="text" name="last_name">
            </label>
            <label>
                Class:
                <input type="text" name="class">
            </label>
            <label>
                Email:
                <input type="email" name="email">
            </label>
            <label>
                Password:
                <input type="password" name="password">
            </label>
            <label>
                Confirm Password:
                <input type="password" name="confirm_password">
            </label>
            <input type="submit" value="Register">
        </form>
        <a href="/login">Already Registered?</a>
    </div>
    </main>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>