*{
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}

/* .register_form, .login_form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding:auto;
}

form, label {
    padding:10px;
    justify-content: center;
} */