*{
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}

.login-reg-backgr{
    background-image: url(../assets/study_background.jpeg);
    background-repeat: repeat;
    background-size: cover;
}

.log-reg{
    border-radius: 5px !important;
}

.dash-bg{
    background-image: linear-gradient(90deg, rgba(251,116,198,1), rgba(139,159,255,1));
    background-size: cover;
    background-repeat: repeat;
}

.nav-a{
    color: white !important;
}

/* .register_form, .login_form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding:auto;
}

form, label {
    padding:10px;
    justify-content: center;
} */