*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

th{
    background-color:lightgrey !important;
    border: black 2px solid !important;
}

tbody{
    background-color: #ffffaf  !important;
}
.narrow-row{
    width: 100px !important;
}

.status{
    border-left: 2px solid #dea4a6 !important;
    border-bottom: 2px solid #aac0d7 !important;
}
.task-name{
    border-left: 2px solid #dea4a6 !important;
    border-bottom: 2px solid #aac0d7 !important;
}
.card-img-top{
    width: 50% !important;
}

.hide{
    display: none;
}
#task-form{
    z-index: 1;
    background-image: linear-gradient(45deg,  #dea4a6, #aac0d7 );
    box-shadow: -3px 3px 4px 2px black;
    /* position: relative;
    bottom: 250px !important; */
}

.submit-task{
    border-radius: 100%;
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: teal;
    color: white;
    border: solid 2px black;
}